.panel-body img{
	width: 100%;
}
.text-bg{
	background-color: #98882e;
	color: white;
	border-radius: 0.5rem;
}
.aa{
	padding-left: 0rem;
	
}
.bb{
	margin-bottom: 1.25rem;
}
.pd-0{
	padding: 0rem;
}